<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Home Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div>
        <p>Hello,
            <strong th:text="${#authentication.name}">
            </strong>. you've successfully logged out.
        </p>
        <p>Your authorities are:
            <strong th:each="auth : ${#authentication.authorities}">
                <span th:text="${auth.authority} + ' '"></span>
            </strong>
        </p>

        <p><a href="/" th:href="@{/}">Back to insecure index page</a></p>
        <p><a href="/" th:href="@{/protected}">Back to secure index page</a></p>
        <p><a href="/" th:href="@{/homepage}">Back to home page</a></p>

    </div>
</div>
</body>
</html>